@model GosEvakuator.Models.City

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>City</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Domen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Domen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrepositionalName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrepositionalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrepositionalArea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrepositionalArea)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
